@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.main-bg-color
{
    background-color: #FFF8F3;
}
.text-orange
{
    color: #FD6E0A;
}
.text-sub
{
    color: #474747;
}
.text-main
{
    color: #181818;
}
.text-low
{
    color: #757575;
}
.section_title
{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin: 30px 0;
}
.btn-primary {
    color: #fff;
    background-color: #FD6E0A;
    padding: 18px 35px;
    height: 64px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

/* header and navigation styles */
.header
{
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 230px;
}
.nav_title
{
    font-size: 45px;
    font-weight: 800px;
}
nav ul
{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 0 25px;
}

/* banner styles */

.banner
{
    display: flex;
    align-items: center;
    margin: 0 230px;
}
.banner-subtitle
{
    font-weight: 600;
    font-size: 45px;
}
.banner-title
{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-paragraph
{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main tag styles */
main
{
    max-width: 1140px;
    margin: 0 auto;
}

/* about tag styles */
.about
{
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 156px;

}
.about_desc
{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.informations
{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.informations .information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information .info_norm
{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #757575;
}
.information .info_bold
{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #474747;
}

/* what i do styles */
.what-i-do
{
    margin-top: 130px;
}
.skill
{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-container
{
    display: flex;
    gap: 24px;
}
.skilltitle
{
    font-weight: 700;
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 20px;
}
.skill_desc
{
    font-weight: 400;
    font-size: 16px;
}